[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pythonds = "*"
flask = "*"
python-dotenv = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
jupyter = "*"
scipy = "*"
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
typing = "*"
django = "==2.2.*"

[requires]
python_version = "3.6"

[dev-packages]
